<input id="videoID" class="d-none" name="videoID" value="{{videoID}}">
<input id="userName" class="d-none" name="userName" value="{{userName}}">
<div class="container-fluid">
  <div class="row">
    <div id="div2" class="col-8">
      <br>

      <div id="div" class="embed-responsive embed-responsive-16by9">

        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{videoID}}" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      </br>
      <div id="div1" class=" container-fluid"></div> {{!-- title --}}
      </br>

      <div class="container-fluid">
        <div class="row">

          <div class="col-7 mt-2">

            <div class="row">
              <div class="col-4">
                <span id="views"></span> views

              </div>
              <div class="col-8"> -><button id="btn-like" type="button" class="btn mr-auto"><i class='far fa-thumbs-up'
                    style='font-size:20px'></i></button><span id="like-counter" class="ml-2"></span></div>
            </div>

          </div>

          <div class="col-5 ">
            <span class="mr-3"><i class='far fa-thumbs-up' style='font-size:20px'></i><span id="likes"></span></span>

            <i class="far fa-thumbs-down" style='font-size:20px'></i><span id="dislikes"></span>

            <button type="button" class="btn "><i class="fas fa-share-alt" style='font-size:24px'></i></button>

            <button type="button" class="btn dropdown" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"><i class="material-icons" style="font-size:40px">playlist_add</i></button>


            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

              <form action="/individual/addToList" method="post">
                <input class="d-none" name="videoId" value="{{videoID}}">
                <input class="d-none" name="userName" value="{{userName}}">
                <input class="d-none" name="playlistName" value="myPlaylist">
                <button class="dropdown-item btn" type="submit">My Playlist</button>
              </form>

              <form action="/individual/addToList" method="post">
                <input class="d-none" name="videoId" value="{{videoID}}">
                <input class="d-none" name="userName" value="{{userName}}">
                <input class="d-none" name="playlistName" value="WatchLater">
                <button class="dropdown-item btn" type="submit">Watch later</button>
              </form>

              <form action="/individual/addToList" method="post">
                <input class="d-none" name="videoId" value="{{videoID}}">
                <input class="d-none" name="userName" value="{{userName}}">
                <input class="d-none" name="playlistName" value="favourites">
                <button class="dropdown-item btn" type="submit">Favourites</button>
              </form>

            </div>

          </div>
        </div>
        <hr>
      </div>

      <a class="" href="#" id="channel">
        <img src="../profile.png" width="45" height="45" class="d-inline-block" alt="">
      </a>

      <p id="description" style="line-break: strict;"></p>
      <hr>
      <p>COMMENT HERE &#128071;</p>
      <div class="container-fluid">
        <div class="row">

          <div class="col-1">
            <a class="" href="#">
              <img src="../profile.png" width="45" height="45" class="d-inline-block" alt="">
            </a>
          </div>

          <div class="col-11">
            <form action="/individual/postComment" method="post">
              <div>
                <input class="d-none" name="videoId" value="{{videoID}}">
                <input class="d-none" name="userName" value="{{userName}}">
                <textarea id="text" class="w-100 ml-auto " name="comment" placeholder=" write a comment"></textarea>
              </div>
              <button id="btn2" type="submit" class="btn float-right">Comment</button>
            </form>
          </div>
        </div>
      </div>

      <div id="comments"></div>

    </div>

    <div id="div3" class="col-4">
      <br>
    </div>

  </div>
</div>